@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap");

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background: #F4E4BA;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4E4BA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddc485ce;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8a42aec;
}

