@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap");

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background: #f5f5f5;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
